<div class="container" style="margin-top: 25px">
	<div class="page-header">
		<h1>Listado de Recetas Foodie&nbsp;
			<i class="glyphicon glyphicon-heart-empty" style="color: pink; font-size: 25px;">&nbsp;</i>
			<button class="btn btn-primary btn-lg" (click)="showModal('Nueva')">Crear Nueva Receta</button>
		</h1>
	</div>
	<div class="container">
		<div class="row">
			<div *ngIf="arrayRecetas.length > 0">
				<div class="col-md-4 col-sm-6" *ngFor="let receta of arrayRecetas; let i = index">
					<div class="text-right">
						<button class="btn btn-default" (click)="showModal('Editar', i)">Editar</button>
						<button class="btn btn-default" (click)="borrarReceta(i)">Borrar</button>
					</div>
					<img class="img-circle" src="../../assets/images/recipe.png" width="140" height="140">
					<h2>{{receta.titulo}}</h2>
					<p>{{receta.descripcion}}</p>
					<h4>Ingredientes:</h4>
					<ul>
						<li class="list-group-item" *ngFor="let ingrediente of receta.ingredientes">{{ingrediente}}</li>
					</ul>
					<hr>
				</div>
			</div>
			<div *ngIf="arrayRecetas.length == 0">
				<h3>Crea nuevas recetas, con el boton de arriba!</h3>
			</div>
		</div>
	</div>
</div>

<app-modal-animation [modalID]="'modalRecetas'" [modalClass]="'md-effect-1'" [contentClass]="'modalGrande'">
	<div class="app-modal-header" style="padding-bottom: 15px; background:pink;">
		<p class="modal-title" style="color:white; display: inline; font-size: 35px">{{ tipo }} Receta</p>
		<button type="button" class="close basic-close" (click)="closeModal()" style="color: white; font-size:30px">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="app-modal-body">
		<form [formGroup]="form" (ngSubmit)="Guardar(form, tipo)" autocomplete="off">
			<div class="form-group">
				<label>Titulo:</label>
				<input type="text" class="form-control" formControlName="Titulo">
			</div>
			<div class="form-group">
				<label>Descripcion:</label>
				<input type="textarea" class="form-control" formControlName="Descripcion">
			</div>
			<div class="form-group">
				<label>Ingredientes:</label>
				<input type="text" class="form-control" formControlName="Ingredientes">
				<div>Separe los ingredientes con coma. Ej: Harina,Leche,Huevos</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-6">
						<label>Dificultad:</label>
						<select class="form-control" formControlName="Dificultad">
							<option value="Facil">Facil</option>
							<option value="Medio">Medio</option>
							<option value="Dificil">Dificil</option>
						</select>
					</div>
					<div class="col-md-6">
						<label>Porciones:</label>
						<select class="form-control" formControlName="Porciones">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="5">5</option>
						</select>
					</div>
				</div>
			</div>
			<hr>
			<button type="submit" class="btn btn-primary" [disabled]="form.invalid">
				<i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Guardar</button>
		</form>
	</div>
</app-modal-animation>